<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:cache="http://www.springframework.org/schema/cache"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:task="http://www.springframework.org/schema/task" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.2.xsd">

    <!-- 注解支持 -->
    <context:annotation-config />
    <!-- 将多个配置文件读取到容器中，交给Spring管理 -->
    <bean id="propertyConfigurer" class="com.bms.util.PropertiesUtils">
        <property name="locations">
            <!-- 这里支持多种寻址方式：classpath和file 推荐使用file的方式引入，这样可以将配置和代码分离  -->
            <list>
                <value>classpath:config/db.properties</value>
            </list>
        </property>
    </bean>
    <!-- 开启自动扫描 -->
    <!-- 使用Annotation自动注册Bean，解决事务失效问题，在主容器中不扫描以@Controller注解，在SpringMVC中只扫描@Controller注解 -->
    <context:component-scan base-package="com.bms">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    <!-- 就一行代码 真帅 -->
    <!-- <context:property-placeholder location="classpath:config/db.properties" /> -->
    <!--加入Advisor 这样就可以监控spring bean的性能   -->
    <!-- org\.noahx\.test\..*为正则表达式，javamelody会自动匹配bean中的类名，来决定都监控哪些bean的哪些方法
        我是监控了org.noahx.test下所有定义的spring bean的所有方法  -->
    <bean id="facadeMonitoringAdvisor" class="net.bull.javamelody.MonitoringSpringAdvisor">
        <property name="pointcut">
            <bean class="org.springframework.aop.support.JdkRegexpMethodPointcut">
                <property name="pattern" value="com.xinqch.*" />
            </bean>
        </property>
    </bean>

    <!-- 导入数据源配置文件  -->
    <import resource="spring-db.xml" />
    <!-- 导入mvc 配置文件 -->
    <import resource="spring-web.xml"/>
</beans>